<html>
<head>
	<link rel="stylesheet" href="css/defaults.css">
</head>
<body>
	<div id ="sticky-topper">
		
		<div id="title-header">Coffee Helper</div>

		<div id="parameters">
			<!-- Display the countdown timer in an element -->
			<div id="main-timer">00 : 00</div>

			<script src="/javascript/utilities.js"></script>

			<div id="buttons-plane">
				<button type="button" onclick="start()">Start</button>
				<button type="button" onclick="reset()">Reset</button>
				<br />
				<button type="button" onclick="pause()">Pause</button>
				<button type="button" onclick="location.href='/'">Back</button>
			</div>
		</div>

	</div>

	<div id="description" class="row">

		<div class="column">
			<p>
				Step 1: <%= step1 %>g
			</p>
			<p>
				Step 2: <%= step2 %>g
			</p>
		</div>
		<div class="column">
			<p>
				Step 3: <%= step3 %>g
			</p>
			<p>
				Step 4: <%= step4 %>g
			</p>
			<p>
				Step 5: <%= step5 %>g
			</p>
		</div>

	</div>


</body>
</html>