<html>

<head>
	<link rel="stylesheet" href="css/defaults.css">
</head>
<body>
	<div id ="sticky-topper">
		
		<div id="title-header">Coffee Helper</div>

		<div id="parameters">
			<div id="main-timer" onclick="startOrPause()">00 : 00</div>

			<script src="/javascript/utilities.js"></script>

			<button type="button" id="main-button" class="clickable-button" onclick="reset()">Reset</button>
		</div>

	</div>

	<div id="description" class="row">

		<div class="column">
			<p>
				1: <%= step1 %>g
			</p>
			<p>
				2: <%= step2 %>g
			</p>
		</div>
		<div class="column">
			<p>
				3: <%= step3 %>g
			</p>
			<p>
				4: <%= step4 %>g
			</p>
			<p>
				5: <%= step5 %>g
			</p>
		</div>

	</div>


</body>
</html>